.container {
  position: relative;
}

.text {
  display: grid;
  height: 20vh;
  top: 20%;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}

.text-content {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  font-size: 3em;
  color: rgb(255, 255, 255);
}

.button {
  display: flex;
  cursor: pointer;
  border-style: none;
  border-radius: 0.3em;
  background: lightblue;
  padding: 0.3em;
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(4, 108, 150);
}

@media only screen and (min-width: 2100px) {
  .text-content {
    font-size: 4.3em;
    height: 18vh;
  }

  .button {
    font-size: 2em;
  }
}

@media only screen and (max-width: 2100px) {
  .text-content {
    font-size: 3.9em;
    height: 15vh;
  }

  .button {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1440px) {
  .text-content {
    font-size: 3.1em;
    height: 10vh;
  }

  .button {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 1180px) {
  .text-content {
    font-size: 2.5em;
    height: 6.5vh;
  }

  .button {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  .text-content {
    font-size: 1.5em;
    height: 3vh;
  }

  .button {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .text {
    display: block;
  }
  .text-content {
    font-size: 1em;
  }

  .button {
    display: none;
  }
}
