.wrapper {
  text-align: center;
}

.container {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header content";
  grid-gap: 4em;
  text-align: center;
  font-size: 1.2em;
}

.header {
  color: rgb(228, 131, 146);
}

.text {
  display: flex;
  width: 60%;
}

.experience-text {
  padding-bottom: 20px;
}

.link {
  text-decoration: none;
  color: blue;
}

.img {
  width: 120px;
  height: 120px;
}
