.wrapper {
  text-align: center;
}

.container {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header content";
  grid-gap: 4em;
  text-align: center;
  font-size: 1.2em;
}

.header {
  color: rgb(228, 131, 146);
}

.text {
  display: flex;
  width: 60%;
}

.experience-text {
  padding-bottom: 20px;
}

.link {
  text-decoration: none;
  color: blue;
}

.img {
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 1150px) {
  .text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "content content content";
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content";
    width: 100%;
  }
}
