.project-header {
  grid-area: header;
}
.project1 {
  grid-area: main;
}
.project2 {
  grid-area: main2;
}
.project3 {
  grid-area: main3;
}
.project4 {
  grid-area: main4;
}
.project5 {
  grid-area: main5;
}

.container {
  display: grid;
  grid-template-areas:
    ". header header header ."
    "main . main2 . main3"
    ". main4 . main5 .";
  grid-row-gap: 2em;
  text-align: center;
  font-size: 1.2em;
}

.img {
  width: 320px;
  height: 240px;
}

.link {
  text-decoration: none;
  color: blue;
  display: block;
}

@media screen and (min-width: 2560px) {
  .container {
    font-size: 2em;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
}
