.container {
  display: grid;
  grid-template-areas:
    "main main main"
    "main main main";
  grid-row-gap: 2em;
  text-align: center;
  font-size: 1.2em;
}

.projectHeader {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3em;
}

.img {
  width: 320px;
  height: 240px;
}

.link {
  text-decoration: none;
  color: blue;
  display: block;
}

@media screen and (min-width: 2560px) {
  .container {
    font-size: 2em;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    grid-template-areas:
      "main main2"
      "main3 main4"
      "main5 main5";
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }
}
